* {
  font-family: "Gotham";
}
body {
overflow: hidden;
}
.section .investement{
  overflow:hidden;
}

#fullpage {
overflow: hidden;
}
.section.waterfall {
  height: 100vh;
  overflow: scroll;
}

.section section .section-line {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(15, 15, 15, 0.6);
  border: none;
}
.section section .section-line.animate {
  transform: translateY(0px);
  transition: opacity 0.3s ease-in-out;
}
.section section .section-line.animate.show {
  opacity: 1;
}
.section section .container * {
  box-sizing: border-box;
}

.section {
  transition: transform 2s ease;
}
.section.prev {
  transform: translateY(100%);
}

body {
  width: 100%;
  overflow-x: hidden;
}
body .animate {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.6s ease;
}
body .animate.show {
  opacity: 1;
  transform: translateY(0);
}
body .loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
body section {
  height: auto;
  background-color: #fff;
  overflow-x: hidden;
}
body section.__visible {
  top: 0px;
}
body section.header {
  background-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1170px) {
  body section {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (max-width: 768px) {
  body section {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 120px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(10px, 670px);
  grid-column-gap: 100px;
}
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1008px) and (min-width: 601px) {
  .container {
    grid-template-columns: minmax(10px, 160px) 2fr;
    grid-column-gap: 70px;
  }
}
.container__title-timer {
  text-align: end;
}
.container__title {
  grid-column: 1/3;
  position: relative;
  width: 100%;
  padding-bottom: 80px;
  max-width: 710px;
}
.container__title-highlight {
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.container__title-highlight::after {
  content: "";
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  padding: 0px 10px 4px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: -12px;
  height: 100%;
  width: 100%;
  background-color: #fff6c8;
  z-index: -1;
}
.container__title.container {
  padding-top: 0px;
  max-width: 1170px;
  padding-bottom: 60px;
  border: none;
}
@media screen and (max-width: 768px) {
  .container__title {
    padding-bottom: 32px;
  }
}
.container__text {
  font-style: normal;
  font-weight: 325;
  font-size: 14px;
  line-height: 180%;
  color: #9c9c9c;
}
.container__line {
  margin-top: 10px;
  max-width: 280px;
  min-width: 160px;
  align-self: flex-start;
  border-top: 1px solid rgba(15, 15, 15, 0.6);
}
@media screen and (max-width: 600px) {
  .container__line {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container__line {
    min-width: 0px;
    max-width: 160px;
  }
}
.container__waterfall {
  grid-column: 1/3;
}
.container__content {
  grid-column: 2/3;
}
@media screen and (max-width: 600px) {
  .container__content {
    grid-column: 1/3;
  }
}
.container__content-text {
  padding-bottom: 40px;
}
.container__content-text:last-child {
  padding-bottom: 0px;
}
.container__content_list {
  position: relative;
}
.container__content_list-item {
  color: #0f0f0f;
  padding: 40px 0;
  vertical-align: top;
  font-style: normal;
  font-weight: 325;
  font-size: 14px;
  line-height: 180%;
  border-bottom: 1px solid rgba(15, 15, 15, 0.6);
  list-style-type: none;
  display: flex;
  transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
}
@media screen and (max-width: 768px) {
  .container__content_list-item {
    padding: 32px 0;
  }
}
.container__content_list-item:first-child {
  padding-top: 0px;
}
.container__content_list-item .enumeration {
  display: flex;
  height: 36px;
}
@media screen and (max-width: 768px) {
  .container__content_list-item .enumeration {
    height: 26px;
  }
}
.container__content_list-item .enumeration::before {
  line-height: 120%;
  font-size: 30px;
  font-weight: 350;
  font-family: "medium";
  font-style: normal;
  height: 100%;
  padding-right: 32px;
  color: rgba(112, 0, 255, 0.25);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container__content_list-item .enumeration::before {
    font-weight: 350;
    font-size: 20px;
    line-height: 120%;
  }
}
.container__content_list-item:nth-child(1) .enumeration::before {
  content: "01" ".";
}
.container__content_list-item:nth-child(2) .enumeration::before {
  content: "02" ".";
}
.container__content_list-item:nth-child(3) .enumeration::before {
  content: "03" ".";
}
.container__content_list-item:nth-child(4) .enumeration::before {
  content: "04" ".";
}
.container__content_list-item:nth-child(5) .enumeration::before {
  content: "05" ".";
}
.container__content_list-item:nth-child(6) .enumeration::before {
  content: "06" ".";
}
.container__content_list-item:nth-child(7) .enumeration::before {
  content: "07" ".";
}
.container__content_list-item:nth-child(8) .enumeration::before {
  content: "08" ".";
}
.container__content_list-item:nth-child(9) .enumeration::before {
  content: "09" ".";
}
.container__content_list-item:nth-child(10) .enumeration::before {
  content: "010" ".";
}
.container__content_list-item:nth-child(11) .enumeration::before {
  content: "011" ".";
}
.container__content_list-item:nth-child(12) .enumeration::before {
  content: "012" ".";
}
.container__content_list-item:nth-child(13) .enumeration::before {
  content: "013" ".";
}
.container__content_list-item:nth-child(14) .enumeration::before {
  content: "014" ".";
}
.container__content_list-item:nth-child(15) .enumeration::before {
  content: "015" ".";
}
.container__content_list-item:nth-child(16) .enumeration::before {
  content: "016" ".";
}
.container__content_list-item:nth-child(17) .enumeration::before {
  content: "017" ".";
}
.container__content_list-item:nth-child(18) .enumeration::before {
  content: "018" ".";
}
.container__content_list-item:nth-child(19) .enumeration::before {
  content: "019" ".";
}
.container__content_list-item:nth-child(20) .enumeration::before {
  content: "020" ".";
}

.num {
  font-family: "light";
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 120%;
}
.num-attribute {
  font-style: normal;
  font-weight: 325;
  font-size: 10px;
  line-height: 140%;
  padding-left: 8px;
}

.h1 {
  font-family: "medium";
  font-style: normal;
  font-weight: 350;
  font-size: 60px;
  line-height: 120%;
  color: #0f0f0f;
}

h2 {
  font-family: "medium";
  font-style: normal;
  font-weight: 350;
  font-size: 40px;
  line-height: 120%;
  color: #0f0f0f;
}

h3 {
  font-family: "medium";
  font-style: normal;
  font-weight: 350;
  font-size: 30px;
  line-height: 120%;
  color: #0f0f0f;
}

h4 {
  font-family: "medium";
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
  line-height: 120%;
  color: #0f0f0f;
}

h5 {
  font-family: "medium";
  color: #0f0f0f;
  font-weight: 350;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

h6 {
  font-family: "medium";
  color: #0f0f0f;
  font-weight: 350;
  font-size: 14px;
  line-height: 180%;
}

p {
  font-style: normal;
  font-weight: 325;
  font-size: 14px;
  line-height: 140%;
  color: #0f0f0f;
}

.txt-1 {
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 325;
  color: #0f0f0f;
}

.txt-2 {
  line-height: 180%;
  font-family: "Gotham";
  font-size: 12px;
  font-weight: 325;
  color: #0f0f0f;
}

.txt-3 {
  line-height: 140%;
  font-family: "Gotham";
  font-size: 10px;
  font-weight: 325;
  color: #9c9c9c;
}

a {
  font-style: normal;
  font-weight: 325;
  font-size: 12px;
  color: #5a5a5a;
  text-decoration: none;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 180%;
  color: #1d1d1d;
}

.item_text {
  font-style: normal;
  font-weight: 325;
  font-size: 12px;
  line-height: 180%;
}

.btn-text {
  font-family: "medium";
  max-width: 240px;
  width: 100%;
  padding: 9px 8px;
  background-color: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 140%;
  height: 44px;
  color: #0f0f0f;
  box-sizing: border-box;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  cursor: pointer;
}
.btn-text.animate {
  transition: opacity 0.3s ease-in-out, transform 0.6s ease, background-color 0.15s ease-in-out;
}
@media screen and (max-width: 439px) {
  .btn-text {
    max-width: none;
  }
}
.btn-text:hover {
  color: #0f0f0f;
  border: 1px solid #0f0f0f;
}
.btn-text:focus {
  border: 3px solid #0f0f0f;
}
.btn-text:active {
  color: #9c9c9c;
  border: 1px solid #0f0f0f;
}

.btn-text.black {
  max-width: 240px;
  width: 100%;
  padding: 9px 8px;
  background-color: #0f0f0f;
  border: 3px solid #0f0f0f;
  border-radius: 8px;
  font-style: normal;
  font-weight: 350;
  font-family: "medium";
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  height: 100%;
  cursor: pointer;
}
@media screen and (max-width: 439px) {
  .btn-text.black {
    max-width: none;
  }
}
.btn-text.black:hover {
  background-color: #5a5a5a;
  border: 3px solid #5a5a5a;
}
.btn-text.black:focus {
  background-color: #0f0f0f;
  border: 3px solid #9c9c9c;
}
.btn-text.black:active {
  background-color: #0f0f0f;
  border: 3px solid #0f0f0f;
}

@media screen and (max-width: 768px) {
  .num {
    font-family: "light";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
  }
  .h1 {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 350;
    font-size: 28px;
    line-height: 120%;
    color: #0f0f0f;
  }
  h2 {
    font-family: "medium";
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 120%;
    color: #0f0f0f;
  }
  h3 {
    font-family: "medium";
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 120%;
    color: #0f0f0f;
  }
  h4 {
    font-family: "medium";
    font-style: normal;
    line-height: 120%;
    font-weight: 350;
    font-size: 18px;
    color: #0f0f0f;
  }
  h5 {
    font-family: "medium";
    font-style: normal;
    line-height: 140%;
    font-weight: 350;
    font-size: 10px;
    color: #0f0f0f;
  }
  h6 {
    font-family: "medium";
    font-style: normal;
    line-height: 140%;
    font-weight: 350;
    font-size: 10px;
    color: #0f0f0f;
  }
  .txt-1 {
    line-height: 180%;
    font-family: "Gotham";
    font-size: 12px;
    font-weight: 325;
    color: #0f0f0f;
  }
  .txt-2 {
    line-height: 160%;
    font-family: "Gotham";
    font-size: 10px;
    font-weight: 325;
    color: #0f0f0f;
  }
  .txt-3 {
    line-height: 140%;
    font-family: "Gotham";
    font-size: 10px;
    font-weight: 325;
    color: #9c9c9c;
  }
  .text {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    color: #5a5a5a;
  }
  .item_text {
    font-style: normal;
    font-weight: 325;
    font-size: 10px;
    line-height: 160%;
  }
}
.investments .container {
  padding-top: 160px;
  padding-bottom: 160px;
  border-bottom: none;
  border-color: rgba(219, 219, 219, 0.8);
}
@media screen and (max-width: 768px) {
  .investments .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.investments .container__title {
  color: #fff;
  padding-bottom: 80px;
  font-style: normal;
  font-weight: 350;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  .investments .container__title {
    padding-bottom: 60px;
  }
}
.investments .container__line {
  border-color: #fff;
}
.investments .container__content-text {
  color: #fff;
}
.investments .container__waterfall {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 120px;
  grid-column-gap: 32px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .investments .container__waterfall {
    padding-top: 80px;
  }
}
@media screen and (max-width: 899px) {
  .investments .container__waterfall {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .investments .container__waterfall {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .investments .container__waterfall {
    grid-column-gap: 16px;
  }
}
.investments .container__waterfall_item {
  min-width: 268px;
  cursor: pointer;
  box-shadow: 0px 40px 50px -39px rgb(15, 17, 18);
  border-radius: 8px;
  background-position-x: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc((100vw - 4rem) * 0.6666666667);
  max-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px 16px;
  z-index: 20;
  position: relative;
}
.investments .container__waterfall_item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.investments .container__waterfall_item-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-radius: 8px;
}
.investments .container__waterfall_item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(15, 15, 15, 0.6);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
.investments .container__waterfall_item::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 20%);
  border-radius: 8px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .investments .container__waterfall_item {
    max-width: none;
    max-height: 370px;
    padding: 16px 12px;
  }
}
@media screen and (max-width: 500px) {
  .investments .container__waterfall_item {
    height: 240px;
    max-width: none;
  }
}
@media screen and (max-width: 375px) {
  .investments .container__waterfall_item {
    max-width: 500px;
    max-height: 370px;
  }
}
@media screen and (max-width: 899px) {
  .investments .container__waterfall_item:last-child {
    margin-bottom: 40px;
  }
}
.investments .container__waterfall_item .item_title {
  z-index: 101;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding-bottom: 24px;
}
.investments .container__waterfall_item .item_text {
  z-index: 101;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgba(219, 219, 219, 0.8);
}
.investments .container__waterfall_item .item_content {
  display: none;
}
.investments .container__waterfall_items {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 370px);
  gap: 40px;
  top: 0px;
  transition: transform 0.05s linear;
}
@media screen and (max-width: 899px) {
  .investments .container__waterfall_items {
    gap: 32px;
  }
}
.investments .container__waterfall_items:nth-child(odd) {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
@media screen and (max-width: 899px) {
  .investments .container__waterfall_items:nth-child(odd) {
    padding-top: 0;
  }
}
.investments .container__waterfall_items:nth-child(even) {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 1;
  flex-flow: column;
}

@keyframes fadeFromLeft {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */
